body{
    font-family: 'Arial', sans-serif;
}

.header{
    text-align: center;
    font-size: 4em;
    margin: 75px 20px 100px 20px;
    border-bottom: 5px solid rgb(223, 223, 223);
    padding-bottom: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 50vh;
    width: 80vw;
    gap: 5px;
    margin: auto;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


